$primaryFont: 'Coda Caption', sans-serif;
$secondaryFont: 'Fira Sans', sans-serif;
$tertiaryFont: 'Quicksand', sans-serif;
$primaryColor:#338099;
$secondaryColor:#000d1a;
$tertiaryColor: #990000;
$fourthColor:rgba(0, 13, 26, 0.7);